@using SnackSales.Models
@model IEnumerable<Snack>

<div><h2>Todos os Lanches</h2></div>

@foreach (var snack in Model)
{
    <div>
        <h4>Lanche: @snack.Name</h4>
        <p><img src="@snack.ImageUrl" alt="Imagem meramente ilustrativa"/></p>
        <p>Preço: @snack.Price.ToString("C")</p>
    </div>
}